
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <h1>Posts From Data</h1>
                <a class="btn btn-default" id="btnGetPosts" href="#" role="button">Get khaled's Posts </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br />
                <div id="reposInfo">
                    <small>No Blogs retrieved</small>
                </div>
            </div>
        </div>
    </div>